@color: #E37600;
@base-size: 20px;
.form-control,
a {
  color: @color;
  &:href,
  &:visited {
    color: @color;
  }
  &:active,
  &:focus,
  &:hover {
    color: lighten(@color, 5%);
    outline: @color;
    border-color: lighten(@color, 15%);
  }
}
.margin-md-top() {
  margin-top: @base-size;
}
body {
  .margin-md-top();
}
.glyphicon {}
.panel-heading {
  padding: @base-size/4;
}
[ng-model="textarea"] {
  border: 2px solid @color;
  border-radius: 5px;
  width: 100%;
  height: (@base-size*15) !important;
  margin-bottom: @base-size/2;
}
#left {
  position: fixed;
  width: (@base-size*15);
  // background: yellow;
  .spacer {
    padding-left: @base-size;
    padding-right: @base-size;
  }
}
#right {
  margin-left: (@base-size*15);
}
.code {
  margin-top: @base-size/3;
  background: white;
  .hljs, pre, code {
    background: white;
  }
}
.icon {
  width: @base-size*5;
  height: @base-size*5;
  max-width: @base-size*5;
  max-height: @base-size*5;
  background: #c0c0c0;
  padding: @base-size/2;
  svg {
    width: 100%;
    height: 100%;
  }
}
